.parallax {
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

#footer {
    background-image: url(../../assets/dallasSkyline.jpg);
    height: 90vh;
    width: 100%;
}

svg {
    height: 50px;
    margin: auto;
    display: block;
    opacity: 0.5;
    fill: white;
}

.container {
    height: 300px;
}

svg:hover {
    opacity: 1;
    height: 42.5px;
}