.navbar-fixed-top {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar-brand {
    font-family: 'Righteous';
    letter-spacing: -2px;
    font-size: 30px;
}

.navbar-brand:hover {
    color: orchid
}

/* .nav-link:hover {
    color: #49E899 
} */

#project-tab:hover {
    color: #49E899          
}

#technology-tab:hover {
    color: #49E899          
}

#bio:hover {
    color: #49E899          
}

#home:hover {
    color: #49E899          
}

#resume:hover {
    color: #49E899
}

