<h1>Projects</h1>
<div class="container mb-3">
    <div class="row">
        <div class="col">
            <div>
                <img src="../../assets/projects/yelpcamphome.png" class="rounded float-start" alt="...">
            </div>
        </div>
        <div class="col">
            <div>
                <img src="../../assets/projects/yelpcamphome.png" class="rounded float-start" alt="...">
            </div>
        </div>
        <div class="col">
            <div>
                <img src="../../assets/projects/yelpcamphome.png" class="rounded float-start" alt="...">
            </div>
        </div>
    </div>
</div>