
#yelpcamp {
    background-image: url(../../assets/projects/yelpcamphome.png);
    height: 200px;
    width: 300px;
    background-size: contain;
};

#yelpcamp:hover {
    background-image: url(../../assets/projects/yelpcampcampgrounds.png);
    height: 200px;
    width: 300px;
};

#elisa {
    background-image: url(../../assets/projects/elisahome.png);
    height: 200px;
    width: 300px;
    background-size: contain;
    
};

#elisa:hover {
    background-image: url(../../assets/projects/elisaaccesories.png);
    height: 200px;
    width: 300px;
};

#third {
    background-image: url(../../assets/projects/yelpcamphome.png);
    height: 200px;
    width: 300px;
    
}

#third:hover {
    background-image: url(../../assets/projects/yelpcampcampgrounds.png);
    height: 200px;
    width: 300px;
};