
#yelpcamp {
    background-image: url(../../assets/projects/yelpcamphome.png);
    height: 300px;
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}

#yelpcamp:hover {
    background-image: url(../../assets/projects/yelpcampcampgrounds.png);
}

#elisa {
    background-image: url(../../assets/projects/elisahome.png);
    height: 300px;
    width: 500px;
    background-size: contain;  
    background-repeat: no-repeat;
}

#elisa:hover {
    background-image: url(../../assets/projects/elisaaccesories.png);
}

#third {
    background-image: url(../../assets/projects/yelpcamphome.png);
    height: 300px;
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    
}

#third:hover {
    background-image: url(../../assets/projects/yelpcampcampgrounds.png);
}

#fourth {
    background-image: url(../../assets/projects/yelpcamphome.png);
    height: 300px;
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    
}

#fourth:hover {
    background-image: url(../../assets/projects/yelpcampcampgrounds.png);
}