<!-- <div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-med-3" id="technologies">
            <h1>Techs</h1>
        </div>
        <div class="col-md-9" id="logos" >
            <div id="carouselExampleIndicators" class="carousel slide vh-100 container" data-ride="carousel">
                <div class="carousel-inner row">
                  <div class="carousel-item active col-md-6 offset-3">
                    <img class="d-block w-200" src="../../assets/Technologies_logos/html.svg.png" alt="First slide">
                  </div>
                  <div class="carousel-item col-md-6 offset-3">
                    <img class="d-block w-200" src="../../assets/Technologies_logos/css.svg.png" alt="Second slide">
                  </div>
                  <div class="carousel-item col-md-6 offset-3">
                    <img class="d-block w-200" src="../../assets/Technologies_logos/js.svg.png" alt="Third slide">
                  </div>
                  <div class="carousel-item col-md-6 offset-3">
                    <img class="d-block w-200" src="../../assets/Technologies_logos/ts.svg.png" alt="Fourth slide">
                  </div>
                  <div class="carousel-item col-md-6 offset-3">
                    <img class="d-block w-200" src="../../assets/Technologies_logos/angular.svg.png" alt="Fifth slide">
                  </div>
                  <div class="carousel-item col-md-6 offset-3">
                    <img id="express" class="d-block w-200" src="../../assets/Technologies_logos/express.svg.png" alt="Sixth slide">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div id="header" class="container-fluid">
    <div class="row">
        <div class="col-6 offset-5">
            <h1>Technologies</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <img id="html" src="../../assets/Technologies_logos/htmlround.svg.png" alt="">
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <img id="css" src="../../assets/Technologies_logos/cssround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="js" src="../../assets/Technologies_logos/jsround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="ts" src="../../assets/Technologies_logos/tsround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="ng" src="../../assets/Technologies_logos/angularround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="node" src="../../assets/Technologies_logos/noderound.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="mongo" src="../../assets/Technologies_logos/mongodbround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="git" src="../../assets/Technologies_logos/gitround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="bootstrap" src="../../assets/Technologies_logos/bootstrap.png" alt="">
        </div>
        <div class="col-1"></div>
    </div>
</div>