
<div id="header" class="container-fluid">
    <div class="row">
        <div class="col-6 offset-4">
            <h1>Technologies</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <img id="html" src="../../assets/Technologies_logos/htmlround.svg.png" alt="">
        </div>
        <div class="col-1"></div>
        <div class="col-1">
            <img id="css" src="../../assets/Technologies_logos/cssround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="js" src="../../assets/Technologies_logos/jsround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="ts" src="../../assets/Technologies_logos/tsround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="ng" src="../../assets/Technologies_logos/angularround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="node" src="../../assets/Technologies_logos/noderound.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="mongo" src="../../assets/Technologies_logos/mongodbround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="git" src="../../assets/Technologies_logos/gitround.svg.png" alt="">
        </div>
        <div class="col-1">
            <img id="bootstrap" src="../../assets/Technologies_logos/bootstrap.png" alt="">
        </div>
        <div class="col-1"></div>
    </div>
</div>