h1  {
    width: 100%;
    display: inline-block;
    content: "";
    font-size: 20.21vw;
    margin: 0 0 0 0;
    white-space: nowrap;
    overflow: hidden;
}

#about-me-header {
    text-align: justify;
    padding: 0 0 0 0;
    
}


img {
    display: inline;
    width: 90vw;
    max-width: 650px;
}
